<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>数据可视化</title>
  <link rel="stylesheet" href="../css/index.css" />
</head>

<body>

  <header>
    <h1>残疾人就业信息</h1>
  </header>

  <!-- 主体盒子 -->
  <div class="main-box">
    <div class="column">
      <div class="panel bar">
        <!-- 标题 -->
        <h2>全国残疾人分布折线图
          <a href="#">2021</a>
        </h2>
        <div class="chart"></div>
        <!-- 底部边框盒子 -->
        <div class="panel-footer"></div>
      </div>
      <div class="panel line">
        <!-- 标题 -->
        <h2>全国残疾人分布折线图
          <a class="a-active" href="javascript:;">2020</a>
          <a href="javascript:;">2021</a>
        </h2>
        <div class="chart"></div>
        <!-- 底部边框盒子 -->
        <div class="panel-footer"></div>
      </div>
      <div class="panel pie">
        <!-- 标题 -->
        <h2>全国残疾人分布折线图
          <a href="#">100</a>
        </h2>
        <div class="chart"></div>
        <!-- 底部边框盒子 -->
        <div class="panel-footer"></div>
      </div>
    </div>
    <div class="column">
      <div class="no">
        <div class="no-hd">
          <ul>
            <li>98777452</li>
            <li>123455</li>
          </ul>
        </div>
        <div class="no-bd">
          <ul>
            <li>申报人数</li>
            <li>核定人数</li>
          </ul>
        </div>
      </div>
      <div class="map">
        <!-- 背景 -->
        <div class="map1"></div>
        <div class="map2"></div>
        <div class="map3"></div>
        <div class="chart"></div>
      </div>
    </div>
    <div class="column">
      <div class="panel bar2">
        <!-- 标题 -->
        <h2>全国残疾人分布折线图
          <a href="#">100</a>
        </h2>
        <div class="chart"></div>
        <!-- 底部边框盒子 -->
        <div class="panel-footer"></div>
      </div>
      <div class="panel line2">
        <!-- 标题 -->
        <h2>全国残疾人分布折线图
          <a href="#">100</a>
        </h2>
        <div class="chart"></div>
        <!-- 底部边框盒子 -->
        <div class="panel-footer"></div>
      </div>
      <div class="panel pie2">
        <!-- 标题 -->
        <h2>全国残疾人分布折线图
          <a href="#">100</a>
        </h2>
        <div class="chart"></div>
        <!-- 底部边框盒子 -->
        <div class="panel-footer"></div>
      </div>

    </div>
  </div>
  <script src="../js/flexible.js"></script>

  <script src="../js/echarts.min.js"></script>
  <script src="../js/jquery.js"></script>
  <!-- 引入china.js 完成地图模块 -->
  <script src="../js/china.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>